@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@layer base{
    body {
        font-family: "Roboto", sans-serif;
        height: auto !important;
  overflow-y: auto !important;
    }

    h1, h2, h3, h4, h5, h6{
        font-weight: bold;
    }
}

@theme {
    --breakpoint-xxs: 38.125rem;
    --breakpoint-suggestScreen: 1160px;
}


.nav-span {
    @apply ml-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap;
}

.navbar-a{
    @apply flex items-center px-4 py-3 hover:bg-gray-100 rounded-lg mx-2 transition-colors;
}
.navbar-a-sm{
    @apply flex items-center px-2 py-1 hover:bg-gray-100 rounded-lg mx-2 transition-colors;
}
.story-span {
    @apply text-xs font-normal text-gray-800 max-w-17.5 truncate text-center mt-1 select-none;
} 
.story{
    @apply flex flex-col items-center shrink-0 gap-1;
}
.aside_footer a::after{
   margin: 4px;
    content: "\b7";
}


.thread::after{
    content: '9+';
    background-color: #ff3040;
    position: absolute;
    width: 20px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    padding: -1px;
    top: -18%;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

